<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Activitée 1 (web)</a>
    <a href="laureates" class="laureates">Afficher les laureates</a>
    <a href="api-docs" class="api-docs">Afficher la documentation swagger de l'API</a>
    <a href="nobels" class="nobels">Afficher le nombre de prix nobels</a>
</nav>